@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Chewy&display=swap');


@font-face {
  font-family: "lucky-dino";
  src: url('./assets/font/LuckyDino\ \(1\).otf');
}
*{
  scroll-behavior: smooth;
}



.accordion {
  width: 100%;
}
.accordion-item {
  border: 1px solid white;
  margin-bottom: 32px;
  border-radius: 40.5px;
}
.accordion-title {         
  cursor: pointer;
  background-color: transparent;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-content.open {
  max-height: 300px; 
}